# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_HOST="localhost"
DATABASE_PORT=5999
DATABASE_NAME="hodo"
DATABASE_USER="hodo"
DATABASE_PASSWORD="secret"
DATABASE_POOL_MAX=10
DATABASE_URL="postgresql://hodo:secret@localhost:5999/hodo?schema=public"
SERVER_BASE_URL="http://0.0.0.0:8000"
